In [5]:
import pandas as pd
ventas =pd.read_csv("ventas.csv")
ventas

        fecha    producto  cantidad  precio_unitario
0  2023-08-01  Producto A        10            25.99
1  2023-08-02  Producto B         5            19.95
2  2023-08-02  Producto A         8            25.99

In [6]:
ventas.fecha = pd.to_datetime(ventas.fecha)
ventas.dtypes

fecha              datetime64[ns]
producto                   object
cantidad                    int64
precio_unitario           float64
dtype: object

In [13]:
clientes = pd.read_json("clientes.json")
print(clientes.id.count())

2

In [14]:
inventario = pd.read_excel("inventario.xlsx")
promedio_stock_disponible = inventario.stock_disponible.mean()
print(promedio_stock_disponible)

35.0